# compiled code
*.pyc

# IDE stuff
.vscode/

# caches
__pycache__/
.mypy_cache
.ruff_cache
.pytest_cache

# data directory
data/*

# mac stuff
.DS_Store

# package stuff
partipy.egg-info/
build/*
.coverage

# documentation
docs/source/notebooks/data
docs/source/notebooks/*.txt
docs/source/notebooks/*.txt.gz
docs/source/notebooks/*.sqlite

# others
spams
