# IDE stuff
.vscode/

# caches and compiled files
*.pyc
__pycache__/
.mypy_cache
.ruff_cache
.pytest_cache
.venv/

# data directory
data/*
*.h5ad

# temp files
.DS_Store

# package stuff
partipy.egg-info/
build/*
.coverage

# documentation
docs/source/notebooks/data
docs/source/notebooks/*.txt
docs/source/notebooks/*.txt.gz
docs/source/notebooks/*.sqlite
docs/source/generated/*
docs/build/*
docs/generated/*
docs/_build/*

# log files
*.log
.coverage*
coverage.xml
