# IDE stuff
.vscode/

# caches and compiled files
*.pyc
__pycache__/
.mypy_cache
.ruff_cache
.pytest_cache
.venv/

# Distribution / packaging
/dist/

# temp files
.DS_Store

# package stuff
partipy.egg-info/
build/*
.coverage

# docs
/docs/_build/
/docs/generated/
docs/api/generated
/docs/notebooks/data
/docs/notebooks/*.h5ad
/docs/notebooks/*.sqlite
/docs/notebooks/*.txt.gz

# log files
*.log
.coverage*
coverage.xml

# jupyter
.ipynb_checkpoints/
